.members-container {
  background-color: rgb(237, 176, 252);
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.member-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.member-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #d3e0f7;
}

.member-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  
}

.members-container h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  color:#9019b8;   /* rich but friendly purple */
  margin-bottom: 20px;
}

.member-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.credit {
  font-size: 1rem;
  color: #560797; /* soft deep purple */
  margin-top: 40px;
  opacity: 0.6;
  text-align: left;
}

